.profile-right{
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 96% 98%;
    image-rendering: 100%;
    margin-top: 55px;
    margin-bottom: 30px;
    margin-left: 270px;
    width:150px;
    height:200px;
    float:left;
    background-color:#c4c4c4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    }
    
    /* Os 2 containners Unidos em 1 */
    .container__box input{
        font-family: var(--fonte);
        color: var(--cor-botao-escuro);
        height: 30px;
        width: 400px;
        font-size: 15px;
        margin-right: 0px;
        margin-left: 150px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        border: 1px solid;
        border-radius: 20px;
        outline: none;
        box-shadow: 0px 4px 4px 0px #00000040;
        border-color: rgba(204, 204, 204, 0.74);
        padding: 0 0.5rem;
    }

/* Alterar quando clicar */
input:focus{
    outline: none;
    background-color: #dadada;
}

.button{
    margin-left: 200px;
}

.btn-cadastrar{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #F93535;
    width: 140px;
    height: 36px;
    font-size: 16px;
    float: right;
    margin-top: 69px;
    margin-right: 20px;
    color: white;
    border: none;
    transition: .4s;
}

.btn-registros{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #F93535;
    width: 140px;
    height: 36px;
    font-size: 16px;
    float: right;
    margin-top: 69px;
    color: white;
    margin-right: 160px;
    border: none;
    transition: .4s;
}

/* Mouse Hover Nos Botoes */
button:hover{
    cursor: pointer;
    transform: scale(1.05);
    font-size: 17px;
}