


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: 0;
    border: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

body::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-track{
    background-color: transparent;
}

body::-webkit-scrollbar-thumb{
    background-color: rgba(80, 78, 74, 0.267);
    border-radius: 20px;
}