


*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: 0;
    border: none;
    box-sizing: border-box;
    
    font-family: var(--fonte);
}

body{
    height: 100vh;
}

body::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-track{
    background-color: transparent;
}

body::-webkit-scrollbar-thumb{
    background-color: rgba(80, 78, 74, 0.267);
    border-radius: 20px;
}

/*Mensagens de erro e sucesso*/

.mensagem{

    color: black;
    display: none;
}

.sucess{
    outline: 1px solid green;
    box-shadow: 0 3px 0 -1px rgba(0, 128, 0, 0.521);
}

.sucess + .mensagem{
    display: none;
}

.erro{
    outline: 1px solid red;
    box-shadow: 0 3px 0 -1px rgb(255, 0, 0);
    
}

.erro + .mensagem{
    display: block;
    color: red;
}