@keyframes left-to-right {
    from {
        transform: translate(0,100%);
        opacity: 0;
    }

    to {
        transform: translate(0,0);
        opacity: 1;
    }
}

.titulo{
    text-align: center;
    color: var(--cor-botao-escuro);
    font-family: var(--fonte);
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.main-login{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 20px;
    position: relative;
    padding: 2rem 1rem;
    margin: 0 auto;
    background-color: var(--cor-fundo-container);
    width: fit-content;
    animation: left-to-right 1.2s ease;
}

.main-login__container{
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    padding: 0 .5rem;
    width: 502px;
    color: var(--cor-botao-escuro);
}

.container__box{
    position: relative;
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: 0 1rem 0 0;
}

.container__box label {
    position: absolute;
    left: 10px;
    font-family: var(--fonte);
    margin-right: .2rem;
}

.box__input{
    width: 100%;
    background-color: #fefefe;
    border-radius: 5px;
    box-shadow: 0 3px 0 -1px #ccc;
    font-family: var(--fonte);
    color: var(--cor-botao-escuro);
    height: 36px;
    font-size: 17px;
    transition: .5s all ease-out;
    padding-left: 4%;
}

.box__input:focus{
    color: black;
    
}

.main-login__buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 .5rem;
    gap: 2rem;
    margin-top: .5rem;
}

.main-login__buttons button{
    background-color: var(--vermelho);
    padding: .3rem .5rem;
    color: #fefefe;
    font-size: 17px;
    font-family: var(--fonte);
    transition:  .4s all;
    border-radius: 4px;
}

#entrar{
    padding: .3rem 2rem;
}

button:hover{
    cursor: pointer;
    transform: scale(1.05);
    font-size: 18px;
}

/*Mensagens de erro e sucesso*/

.mensagem{
    position: absolute;
    bottom: -60%;
    left: 2%;
    color: black;
    display: none;
}

.sucess{
    outline: 1px solid green;
    box-shadow: 0 3px 0 -1px rgba(0, 128, 0, 0.521);
}

.sucess + .mensagem{
    display: none;
}

.erro{
    outline: 1px solid red;
    box-shadow: 0 3px 0 -1px rgb(255, 0, 0);
    
}

.erro + .mensagem{
    display: block;
    color: red;
}

.erroMsg{
    text-align: center;
    width: 100vw;
    margin: 1rem 0;
    color: red;
    display: flex;
    justify-content: center;
}