
                        #confirm {
                           background: #fcfcfcef;
                           box-shadow: 0px 2px 5px 1px #afafaf;
                           border-radius: 10px;
                           font-size: 11px;
                           font-family: 'Poppins', sans-serif;
                           font-weight: bolder;
                           position: fixed;
                           top: 0;
                           margin-top: 7px;
                           
                           width: 250px;
                           height: 100px;
                           left: 40%;
                           padding: 5px 12px 5px;
                           box-sizing: border-box;
                           text-align: center;
                           display: flex;
                           align-items: center;
                           justify-content: center;
                           flex-direction: column;
                           gap: 1.35rem;
                           transition: all .2s ease-in-out;
                        }
                        #confirm button {
                           border-radius: 8px;
                           display: inline-block;
                           text-align: center;
                           cursor: pointer;
                           bottom: 2.1rem;
                           width: 50%;
                           height: 30%;
                           text-transform: uppercase;
                           font-family: 'Poppins', sans-serif;
                           background-color: #147a1d;
                           color: #fefefe;
                           font-size: 1.3em;
                        }
                        #confirm .message {
                           font-size: 1.35em;
                           color: #1f7e27;
                           letter-spacing: 2px;
                        }