@keyframes left-to-right {
    from {
        transform: scaleX(0);
        transform-origin: 50% 50%;
    }

    to {
        transform: scaleX(1);
        transform-origin: 50% 50%;
    }
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #F93535 9.38%, #A9A6A6 70%);
}

main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    animation: left-to-right 1s;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 12px;
    box-shadow: 0 1px 5px 5px #0003;
    background: #fff6;
    text-align: center;
}

h1 {
    padding-bottom: 1rem;
    font-size: 21px;
}

form {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.animation {
    margin-bottom: .5rem;
    border: 2px solid #0003;
    border-radius: 2px;
    position: relative;
}

.inputEmail, .inputSenha {
    padding: .2rem .5rem;
    position: relative;
    width: 100%;
}

.animation::after {
    display: block;
    content: '';
    border-bottom: solid 2px transparent;
    border-radius: 0 0 2px 2px;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    bottom: -2px;
    left: -2px;
    width: 100%;
    position: absolute;
}

.animation:hover::after {
    border-bottom-color: var(--vermelho);
    transform: scaleX(1.009);
    transform-origin: 0% 50%;
}

.enviar {
    padding: .5rem 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19px;
    background:#0005 left;
    transition: .2s all ease-in;
    color: white;
}

.enviar:hover {
    background: #f54e4e right;
    font-size: 19px;
    color: #000;
}