.splash{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Poppins', 'Arial';
}

.intro{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    background: linear-gradient(269.56deg, #F93535 0.25%, #A9A6A6 64.85%);
    transition: 1s;
}

.intro img{
    top: 150px;
    position: absolute;
}


.logo {
    font-size: 1.5rem;
    color: #3D4B56;
    margin-top: 150px;
}

.logo-parts{

    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo-parts.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out .5s;
}

.logo-parts.fade {
    bottom: 250px;
    opacity: 0;
    transition: ease-in-out .5s;
}

